<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangyichuang.medicine.admin.mapper.MallProductTagMapper">

    <resultMap id="BaseResultMap" type="com.zhangyichuang.medicine.model.entity.MallProductTag">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="typeId" column="type_id"/>
        <result property="sort" column="sort"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>

    <resultMap id="AdminVoResultMap" type="com.zhangyichuang.medicine.model.vo.MallProductTagAdminVo">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="typeId" column="type_id"/>
        <result property="typeCode" column="type_code"/>
        <result property="typeName" column="type_name"/>
        <result property="sort" column="sort"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>

    <sql id="BaseColumnList">
        t.id,
        t.name,
        t.type_id,
        t.sort,
        t.status,
        t.create_time,
        t.update_time,
        t.create_by,
        t.update_by,
        t.is_deleted
    </sql>

    <select id="listTags" resultMap="AdminVoResultMap">
        SELECT
        t.id,
        t.name,
        t.type_id,
        tt.code AS type_code,
        tt.name AS type_name,
        t.sort,
        t.status,
        t.create_time,
        t.update_time,
        t.create_by,
        t.update_by
        FROM mall_product_tag t
        LEFT JOIN mall_product_tag_type tt ON t.type_id = tt.id
        <where>
            (t.is_deleted IS NULL OR t.is_deleted = 0)
            AND (tt.is_deleted IS NULL OR tt.is_deleted = 0)
            <if test="request.name != null and request.name != ''">
                AND t.name LIKE CONCAT('%', #{request.name}, '%')
            </if>
            <if test="request.typeId != null">
                AND t.type_id = #{request.typeId}
            </if>
            <if test="request.status != null">
                AND t.status = #{request.status}
            </if>
        </where>
        ORDER BY tt.sort ASC, t.sort ASC, t.id DESC
    </select>
</mapper>
