<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangyichuang.medicine.client.mapper.MallOrderTimelineMapper">

    <resultMap id="BaseResultMap" type="com.zhangyichuang.medicine.model.entity.MallOrderTimeline">
        <id property="id" column="id"/>
        <result property="orderId" column="order_id"/>
        <result property="eventType" column="event_type"/>
        <result property="eventStatus" column="event_status"/>
        <result property="operatorType" column="operator_type"/>
        <result property="description" column="description"/>
        <result property="createdTime" column="created_time"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_id,event_type,event_status,operator_type,description,
        created_time,is_deleted
    </sql>
</mapper>
