<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangyichuang.medicine.client.mapper.MallProductImageMapper">

    <resultMap id="BaseResultMap" type="com.zhangyichuang.medicine.model.entity.MallProductImage">
        <id property="id" column="id"/>
        <result property="productId" column="product_id"/>
        <result property="imageUrl" column="image_url"/>
        <result property="sort" column="sort"/>
        <result property="createTime" column="create_time"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,product_id,image_url,sort,create_time,is_deleted
    </sql>
    <select id="getProductCoverImage" resultMap="BaseResultMap">
        SELECT product_id, image_url
        FROM (
        SELECT
        product_id,
        image_url,
        ROW_NUMBER() OVER (PARTITION BY product_id ORDER BY sort , id) AS rn
        FROM mall_product_image
        WHERE (is_deleted IS NULL OR is_deleted = 0)
        AND product_id IN
        <foreach collection="productIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        ) AS t
        WHERE t.rn = 1
    </select>
</mapper>
